%h2
  Credit cards on file

  %table
    %tr
      %td
        Card Type & Number
      %td
        Name on Card
      %td
        Expires
      %td
        Modify
      %td
        Default
    - @credit_cards.each do |credit_card|
      %tr
        %td
          =image_tag(credit_card.image_url)
          *** #{credit_card.last_4}
        %td
          =credit_card.cardholder_name
        %td
          =credit_card.expiration_date
        %td
          =link_to("Edit", edit_card_braintree_settings_payment_path(id: credit_card.token))
          | 
          =link_to("Delete", delete_card_braintree_settings_payment_path(id: credit_card.token))
        %td
          =radio_button_tag "default_card", "", get_default_card(credit_card.default?), data: {token: credit_card.token, url: make_default_card_braintree_settings_payment_path(id: credit_card.token)}, class: "default_card"
      %tr
        %td  
          Billing Address: 
          =credit_card.billing_address.street_address
          =credit_card.billing_address.extended_address
          =credit_card.billing_address.locality
          =credit_card.billing_address.region
          =credit_card.billing_address.postal_code
  
  Add new

=form_tag add_card_braintree_settings_payment_path, method: :post do
  =render partial: "credit_card_form"