.listing-images
  = label_tag :image, "Upload Multiple Images", :class => "input"
  = file_field_tag(:image, :class => "file_field", :id => "fileupload", :multiple => "true", :name => "listing[listing_images_array][]")